@tailwind base;
@tailwind components;
@tailwind utilities;


/* scrollbar */

html {
  scroll-behavior: smooth;  
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.modal-container::-webkit-scrollbar {
    width: 6px;
  }
  
  .modal-container::-webkit-scrollbar-thumb {
    background-color: rgb(39, 215, 238); /* Set the color of the thumb */
    border-radius: 6px; /* Optional: Round the corners of the thumb */
  }
  
  .modal-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Set the color of the track */
  }

  /* loader */
  .loader {
    width: 60px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }
  
  .ball {
    list-style: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
  }
  
  .ball:nth-child(1) {
    animation: bounce-1 2.1s ease-in-out infinite;
  }
  
  @keyframes bounce-1 {
    50% {
      transform: translateY(-13px);
    }
  }
  
  .ball:nth-child(2) {
    animation: bounce-3 2.1s ease-in-out 0.3s infinite;
  }
  
  @keyframes bounce-2 {
    50% {
      transform: translateY(-13px);
    }
  }
  
  .ball:nth-child(3) {
    animation: bounce-3 2.1s ease-in-out 0.6s infinite;
  }
  
  @keyframes bounce-3 {
    50% {
      transform: translateY(-13px);
    }
  }

/*  Infinite Scroll Posts Loader*/
  .circle{
    width: 2.5em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
   }
   
   .circle>circle {
    fill: none;
    stroke: hsl(341, 90%, 58%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
   }
   
   @keyframes rotate4 {
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    }
   }
   
   /*  loginForm Loader */
   .dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: white;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  .dot:last-child {
    margin-right: 0;
  }
  
  .dot:nth-child(1) {
    animation-delay: -0.3s;
  }
  
  .dot:nth-child(2) {
    animation-delay: -0.1s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.1s;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.8);
      background-color: #e5299a;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  
    50% {
      transform: scale(1.2);
      background-color: #49eedb;
      box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }
  
    100% {
      transform: scale(0.8);
      background-color: rgb(240, 30, 104);
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  }

  /* popular page gradient carousel card */
  .gradient-bg {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%);
  }

  /* sidebar breakpoint css */

  .sidebarOpacity{
    background-color: rgba(0, 0, 0, 0.6);
  }